*
!.gitignore
!README.md
!projects/
!projects/01/
!projects/01/*.hdl
!projects/02/
!projects/02/*.hdl
!projects/03/
!projects/03/a/
!projects/03/a/*.hdl
!projects/03/b/
!projects/03/b/*.hdl
!projects/04/
!projects/04/fill/
!projects/04/fill/Fill.asm
!projects/04/mult/
!projects/04/mult/Mult.asm
!projects/05/
!projects/05/*.hdl
!projects/06/
!projects/06/HackAssembler.py
!projects/07/
!projects/07/VMTranslator.py
!projects/08/
!projects/07/lang.txt
!projects/08/VMTranslator.py
!projects/08/lang.txt
!projects/09/
!projects/09/Tetris/
!projects/09/Tetris/*.jack
!projects/10/
!projects/10/JackAnalyzer.py
!projects/10/lang.txt
!projects/11/
!projects/11/*.py
!projects/11/lang.txt
!projects/12/
!projects/12/*.jack
